@font-face {
	font-family: "whitney medium";
	src: url("./assets/whitneymedium.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "whitney semibold";
	src: url("./assets/whitneysemibold.otf");
	font-weight: normal;
	font-style: normal;
}

*, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #222;
	font-family: 'whitney medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
}

.med {
	font-family: 'whitney semibold';
}

::-webkit-scrollbar {
	display: none;
}

.zero {
	margin: 0;
}

.blue {
	color: #1976d1;
}

.head {
	margin-top: 1em;
	margin-bottom: 2em !important;
}

a {
	text-decoration: none;
	color: #6699ee;
}

a:hover {
	color: #1976d1;
}

input, textarea, select {
	min-width: 100%;
	max-width: 100%;
}

img {
	width: 100%;
}

::-moz-selection {
	color: #12477c;
	background: rgba(80, 142, 235, 0.281);
}

::selection {
	color: #2167ac;
	background: rgba(80, 142, 235, 0.281);
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

button.cool {
	box-shadow: 0px 8px 32px rgba(56, 123, 217, 0.6);
	background-color: #358ce2;
	color: #fff;
	border: none;
	transition: 0.5s;
	font-size: 0.8em;
	border-radius: 2em;
	transform: translateY(0px);
	margin-top: 2em;
}

button.cool span {
	color: #fff;
}

button.cool:hover {
	transform: translateY(4px);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #1976d1;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.noselect, br, img, button, input, textarea, select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.succ {
	margin-bottom: 40vh;
}